body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primary-color: #19BC9C;
    --secondary-color: #2C3E50;
    --footer-color: #3B546D;
}

.bkc_1{
    background-color: var(--secondary-color) ;
}

.bkc_2{
    background-color: var(--primary-color);
}

.bkc_3{
    background-color: var(--footer-color);
}


.color-text{
    color: var(--primary-color);
}

.box_main_img img{
    width: 100%;
}

.box_main_img2 img{
    width: 100%;
}

.circle-box, .square-box{
    width: 35px;
    height: 35px;
    position: relative;
}

.circle-box i, .square-box i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.box_main_img2{
    position: relative;
}

.box_main_img2 i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box_main_img2:hover i{
    display: block !important;
}

.box_main_img2:hover .overlay{
    opacity: 30%;
}

.hov_text:hover{
    color: var(--primary-color);
}

